python-dotenv
streamlit
streamlit-option-menu
pytest
pytest-mock
langchain-openai
langchain-google-genai
langchain
langchain-community

# Bingoo
st-copy-to-clipboard
google-cloud-bigquery

# KAKAO GPT
faiss-cpu
tiktoken
chromadb
lark